POSTGRES_DB=ascend_monitor
POSTGRES_USER=ascend
POSTGRES_PASSWORD=please-use-a-long-random-password
FRONTEND_PORT=3000
BACKEND_PORT=8080

MONITOR_CONTEST_ID=41ffbad2024e4ccfa43520c57ffa7b9e
MONITOR_SOURCE_PAGE_URL=https://www.hiascend.com/developer/contests/details/41ffbad2024e4ccfa43520c57ffa7b9e?module=rank
MONITOR_POLL_INTERVAL_MS=120000
MONITOR_INITIAL_DELAY_MS=5000
MONITOR_RETENTION_DAYS=90

DETECTION_REGRESSION_PERCENT=15
DETECTION_HIDING_PERCENT=25
DETECTION_REBOUND_PERCENT=15
DETECTION_NEAR_BEST_PERCENT=5
DETECTION_SUBMISSION_BURST=8
